<h3>{{vm.title}}</h3>  <button><a href="/">Home</a></button>
<hr>
<hr>
<a class="btn btn-success" ng-href="http://twitter.com/share?url={{vm.link}}">Share</a>
<hr>
<div id="piechart" style="width: 900px; height: 500px;"></div>
<hr>
Poll created by : {{vm._id}}
<hr>
<div class="form-group">
    <select ng-model="vm.selected" class="form-control">
        <option ng-repeat="option in vm.poll" value="{{option._id}}">{{option.name}}</option>
    </select>
</div>
<input type="text" ng-model="vm.option" class="form-control" placeholder="Add option">
<button ng-click="vm.addOption();" class="btn btn-primary btn-block" ng-disabled="!vm.option">Add option</button>
<br><br>
<button ng-click="vm.vote();" class="btn btn-success btn-block" ng-disabled="!vm.selected">Vote</button>