<div>
    <h3>{{vm.title}}</h3>  <button><a href="/">Home</a></button>
    <hr>
    <div class="add" ng-if="vm.isLoggedIn() === true">
        <input type="text" ng-model="vm.poll.name" class="form-control" placeholder="Poll Name">
        <br>
        <input type="text" ng-model="vm.poll.options[$index].name" class="form-control" placeholder="Poll Options" ng-repeat="poll in vm.poll.options track by $index" style="margin-bottom:10px">
        <br>
        <button ng-click="vm.addOption()" class="btn btn-warning btn-block" ng-hide="vm.poll.options.length === 5">Add Poll Option</button>
        <br>
        <button ng-click="vm.addPoll()" class="btn btn-primary btn-block">Add Poll</button>
    </div>
</div>
<hr>
<ul>
    <li ng-repeat="poll in vm.polls">
        <a href="/poll/{{poll._id}}">
            {{poll.name}}
        </a>
    </li>
</ul>